<div class="col-xs-12" #divToMeasure>
  <div class="row title">
    <h3>{{ "Summary" }}</h3>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span class="total-title-text">Total Expense:</span>
      <span style="color: #ce2626">
        {{ financesUtils.mapValueToCurrency(totalExpense) }}
      </span>
    </div>
    <div *ngIf="financialMovementMgmtService.incomeVisible" class="col-md-4">
      <span class="total-title-text">Total Income:</span>
      <span style="color: #008000">
        {{ financesUtils.mapValueToCurrency(totalIncome) }}
      </span>
    </div>
    <div *ngIf="financialMovementMgmtService.incomeVisible" class="col-md-4">
      <span class="total-title-text">Difference:</span>
      <span>
        {{ financesUtils.mapValueToCurrency(totalDifference) }}
      </span>
    </div>
  </div>
  <div class="row">
    <ng-container
      *ngIf="isLoading; then loading; else notLoading"
    ></ng-container>
  </div>
</div>

<ng-template #loading>
  <div style="text-align: center">
    <mat-spinner style="margin: auto"></mat-spinner>
    <p>Loading...</p>
  </div>
</ng-template>

<ng-template #notLoading>
  <ng-container
    *ngIf="
      totalExpense == 0 && totalIncome == 0;
      then noMovements;
      else movementsPlot
    "
  ></ng-container>
</ng-template>

<ng-template #noMovements>
  <div class="col-xs-12 noMovementsText">
    <p>There are no Financial Movements available.</p>
    <p>Add a new movement.</p>
  </div>
</ng-template>

<ng-template #movementsPlot>
  <div class="col-xs-6 col-md-2 pull-right">
    <select class="chart-select" (change)="chartCategoryChange($event.target.value)">
      <option *ngFor="let chartOption of chartOptions">
        {{ chartOption }}
      </option>
    </select>
  </div>
  <div
    *ngIf="chartSel === 'Categories'"
    class="col-xs-12"
    [ngStyle]="{ padding: isMobile ? '0 0' : '0 15' }"
  >
    <ngx-charts-bar-vertical
      [view]="view"
      [results]="expenseCategoriesChartData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [animations]="false"
      [yAxisTickFormatting]="setYAxisTicksValues"
    >
    </ngx-charts-bar-vertical>
  </div>
  <div
    *ngIf="chartSel === 'Time'"
    class="col-xs-12"
    [ngStyle]="{ padding: isMobile ? '0 0' : '0 15' }"
  >
    <ngx-charts-bar-vertical
      *ngIf="!financialMovementMgmtService.incomeVisible"
      [view]="view"
      [results]="chartDataIncomeHidden"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [animations]="false"
      [yAxisTickFormatting]="setYAxisTicksValues"
      [scheme]="customColors1D"
      [barPadding]="barPaddingIncomeHidden"
    >
    </ngx-charts-bar-vertical>
    <ngx-charts-bar-vertical-2d
      *ngIf="financialMovementMgmtService.incomeVisible"
      [view]="view"
      [results]="chartDataIncomeVisible"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [animations]="false"
      [customColors]="customColors2D"
      [barPadding]="barPaddingIncomeVisible"
      [groupPadding]="groupPadding"
      [yAxisTickFormatting]="setYAxisTicksValues"
    >
    </ngx-charts-bar-vertical-2d>
    <p class="plotNoteText" *ngIf="isMobile">*Values shown in thousands.</p>
  </div>
</ng-template>
