<div class="col-xs-12">
  <div class="row title">
    <h3>{{ "Summary" }}</h3>
  </div>
  <div class="row">
    <div *ngIf="financialMovementMgmtService.incomeVisible" class="col-md-4">
      <div class="card" style="width: 14rem">
        <div class="card-body">
          <h4 class="card-title">Total Income:</h4>
          <p class="card-text" style="color: #008000">
            {{ financesUtils.mapValueToCurrency(totalIncome) }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 14rem">
        <div class="card-body">
          <h4 class="card-title">Total Expense:</h4>
          <p class="card-text" style="color: #ce2626">
            {{ financesUtils.mapValueToCurrency(totalExpense) }}
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="financialMovementMgmtService.incomeVisible" class="col-md-4">
      <div class="card" style="width: 14rem">
        <div class="card-body">
          <h4 class="card-title">Difference:</h4>
          <p class="card-text">
            {{ financesUtils.mapValueToCurrency(totalDifference) }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ngx-charts-bar-vertical
        *ngIf="!financialMovementMgmtService.incomeVisible"
        [view]="view"
        [results]="chartDataIncomeHidden"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [animations]="false"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [scheme]="customColors1D"
        [barPadding]="barPadding"        
      >
      </ngx-charts-bar-vertical>
      <ngx-charts-bar-vertical-2d
        *ngIf="financialMovementMgmtService.incomeVisible"
        [view]="view"
        [results]="chartDataIncomeVisible"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [animations]="false"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [customColors]="customColors2D"
        [barPadding]="barPadding"
        [groupPadding]="groupPadding"        
      >
      </ngx-charts-bar-vertical-2d>
    </div>
  </div>
</div>
