/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
@import '~@aws-amplify/ui-angular/theme.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  margin-top: 3%;
}

.title,
h3 {
  font-weight: 400 !important;
  font-size: 20px !important;
}
