<div>
  <div class="row">
    <div class="col-xs-3">
      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <mat-select [(value)]="year">
          <mat-option *ngFor="let year of years" [value]="year.key">
            {{ year.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-3">
      <mat-form-field appearance="fill">
        <mat-label>Month</mat-label>
        <mat-select [(value)]="month">
          <mat-option *ngFor="let month of months" [value]="month.key">
            {{ month.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-3" style="padding: 1rem 0">
      <button class="btn btn-primary" mat-raised-button (click)="onSearch()">
        Search
      </button>
    </div>
    <div class="col-xs-2" style="padding: 1rem 0; text-align: right">
      <button
        class="btn btn-primary"
        mat-raised-button
        (click)="onIncomeHiddenStatusChange()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          [svgIcon]="
            financialMovementMgmtService.incomeVisible ? 'show' : 'hide'
          "
          style="vertical-align: middle"
        >
        </mat-icon>
        <span> Income</span>
      </button>
    </div>
  </div>
</div>
