<amplify-authenticator>
  <ng-template amplifySlot="header">
    <div style="padding: var(--amplify-space-large); text-align: center; margin-top: 10rem;">
      <img
        class="amplify-image"
        alt="Amplify logo"
        src="https://docs.amplify.aws/assets/logo-dark.svg"
      />
    </div>
  </ng-template>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <app-header></app-header>
    <app-main [userEmail] = "user.attributes.email"></app-main>
  </ng-template>
</amplify-authenticator>
